* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    overflow-y: scroll; /* Workaround for Ace rendering bug */
}

[aria-hidden=true] {
    display: none;
}

h1, label, label select, address {
    display: inline;
}

span[title] {
    border-bottom: 1px dotted #ddd;
    cursor: help;
}

.offline {
    display: none;
}

.applicationcache.localstorage .offline {
    display: inline;
}

#engine {
    margin-bottom: 0; /* Fixes text line being offset */
}

.editor-error {
    float: right;
    padding-top: 1em;
    color: red;
    font-weight: bold;
}

.ace_editor {
    position: relative !important;
    width: 100%;
    height: 250px;
}

.ace_editor[aria-invalid=true] {
    outline: 3px solid red;
}

#ribbon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 149px;
    height: 149px;
    background: url(../img/sprite.png) 0 0;
}

#ribbon-link {
    display: none;
}

#html5 {
    display: inline-block;
    width: 210px;
    height: 64px;
    vertical-align: middle;
    background: url(../img/sprite.png) 0 -160px;
}

footer {
    margin: 20px 0;
}

    footer a {
        margin-right: 20px;
    }

.ir {
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
}

@media (max-width: 800px) {
    #ribbon {
        display: none;
    }

    #ribbon-link {
        display: inline;
    }
}
