* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
    overflow-y: scroll; /* Workaround for Ace rendering bug */
}

 .js.classlist.json.localstorage.webworkers #unsupported {
    display: none;
 }

span[title] {
    border-bottom: 1px dotted #ddd;
    cursor: help;
}

.ace_editor {
    position: relative !important;
    width: 100%;
    height: 250px;
}

.error {
    outline: 3px solid red;
}

#ribbon {
    position: absolute;
    top: 0;
    right: 0;
}

#ribbon-link {
    display: none;
}

footer {
    margin: 20px 0px;
}

    footer a {
        margin-right: 20px;
    }


@media (max-width: 666px) {
    #ribbon {
        display: none;
    }

    #ribbon-link {
        display: inline;
    }
}
