* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    overflow-y: scroll; /* Workaround for Ace rendering bug */
}

span[title] {
    border-bottom: 1px dotted #ddd;
    cursor: help;
}

.js.classlist.json.localstorage.webworkers .unsupported {
    display: none;
}

.offline {
    display: none;
}

.applicationcache.localstorage .offline {
    display: inline;
}

#engine {
    margin-bottom: 0; /* Fixes text line being offset */
}

.editor-error {
    float: right;
    padding-top: 1em;
    color: red;
    font-weight: bold;
}

.ace_editor {
    position: relative !important;
    width: 100%;
    height: 250px;
}

.ace_editor.error {
    outline: 3px solid red;
}

#ribbon {
    position: absolute;
    top: 0;
    right: 0;
}

#ribbon-link {
    display: none;
}

footer {
    margin: 20px 0px;
}

    footer a {
        margin-right: 20px;
    }


@media (max-width: 768px) {
    #ribbon {
        display: none;
    }

    #ribbon-link {
        display: inline;
    }
}
